<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
        "width=device-width, 
        initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
</head>
  
<body>
    <section class="Nav">
        <nav>
            <header class="navbar">
                <div class="header-text">
                    <h1 class="title ml-4">VFight</h1>
                    
                </div>
                <div>
                    <ul>
                        <li><a href="./register">Register</a></li>
                        <li><a href="./polog">For Police Officers</a></li>
                        <li><a href="./cylog">For Cyber Experts</a></li>
                        <li><a href="/login">For Customers</a></li>
                    </ul>
                </div>
                
            </header>
        </nav>
    </section>

    <section class="banner">
        <video class="banner-video" autoplay muted loop> 
            <source src="./assets/interview.mp4" type=video/mp4>
        </video>
        <h1 class="banner-title">Welcome to <span>VFight</span></h1>
        <h3 class="banner-desp">Your Future is here</h3>
    </section>

    <section class="about">
        <h1 class="abt-title">What About us?</h1>

        <div class="abt-grid">
            <div>
                <img class="abt-img" src="./assets/undraw_job_offers.svg" alt="Job Offer">
                <h2 class="abt-title-1">Cyber Experts From Fortune Companies</h2>
                <p class="abt-desc">We have certifired pen testers and ethical hackers who have worked for organizations before.</p>
            </div>
            <div>
                <img class="abt-img-1" src="./assets/undraw_Job_hunt.svg" alt="Job Offer">
                <h2 class="abt-title-1">Your are in safe hands</h2>
                <p class="abt-desc-1">All of your inormation are encrypted and sent to the respective Cyber Experts with top security.</p>
            </div>
            <div>
                <img class="abt-img-2" src="./assets/undraw_Team_page.svg" alt="Job Offer">
                <h2 class="abt-title-2">Full Support 24/7</h2>
                <p class="abt-desc-2">Our Customer service is available all time for any technical issues and also they will help you with issuing
                  your case and also will report the case from your side as per your wish .</p>
            </div>
        </div>

    </section>
    <!-- Remove the container if you want to extend the Footer to full width. -->


    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white mt-5"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #6351ce"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">VFight</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                  Come join us and let's fight cyber crime!!

              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Login</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Cyber Expert</a>
              </p>
              <p>
                <a href="#!" class="text-white">Customer</a>
              </p>
              <p>
                <a href="#!" class="text-white">Police</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Sign In</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Cyber Expert</a>
              </p>
              <p>
                <a href="#!" class="text-white">Join as Police </a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Mumbai, Andheri West, Mumbai, Maharashtra, India</p>
              <p><i class="fas fa-envelope mr-3"></i> contact@vfight.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 91 9945667257</p>
              <p><i class="fas fa-print mr-3"></i> + 91 9963856735</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
           >VFight.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

    
  
</body>
  
</html>