<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
        "width=device-width, 
        initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style_7.css">
  </head>
  <body>
    <form action="http://127.0.0.1:3000/registercustomer" method="post">
        <div class="login-box">
        <h1> Register</h1>
        <div class="textbox">

            <input type="text" placeholder="Username" name="username" id="user" />
        </div>

        <div class="textbox">

            <input type="password" placeholder="Password" name="password" />
        </div>
        <div class="textbox">

            <input type="text" placeholder="Email" name="email" id="user" />
        </div>
        <div class="textbox">
  
            <input type="text" placeholder="Phone No" name="phoneno1" id="user" />
        </div>
        <div class="textbox">

            <input type="text" placeholder="Phone No (Alt)" name="phoneno2" id="user" />
        </div>
        <div class="textbox">

            <input type="text" placeholder="Home or Company Adresss" name="address" id="user" />
        </div>

        <input type="submit" value="Register" class="btn" id="submit">
        </div>
    </form>
  </body>
</html>